@import "../node_modules/ui-select/dist/select.min.css";
@import "../node_modules/ui-select/dist/select.css";
@import '../components/hello-world/hello-world';
@import '../components/personal-info/personal-info';
@import '../components/booking-info/booking-info';

body{
  margin: 0px;
 /* background-color: #FF6E00;*/
}
#home-page{
  width: auto;
  height: 200px;
  background-position: center;
  background-image: url("../assets/images/trave-trap.jpg");
  background-repeat: no-repeat;
}