.outer-div{
  border: 10px solid #95C11E;
  border-radius: 25px;
}
.tab-set{
  font-size: 30px;
  text-align: center;
}
.nav-tabs{
  margin-left: 20%;
  margin-right: 20%;
}
label{
  font-size: 20px;
  color:#000000;
}
.form-control{
  font-style: italic;
  font-size: 20px;
}
