<div class="hello-world-header" id="ss">
    <!--<uib-tabset active="active">
       &lt;!&ndash; <uib-tab index="$index + 1" ng-repeat="tab in ['vishal','pragati','pvk']" heading="{{tab}}" disable="tab.disabled">
            {{tab}}
        </uib-tab>&ndash;&gt;
        <uib-tab index="1"  heading="menu1" disable="tab.disabled" ui-sref="home"></uib-tab>
        <uib-tab index="2"  heading="menu2" disable="tab.disabled" ui-sref="info"></uib-tab>
        <uib-tab index="3"  heading="menu3" disable="tab.disabled" ui-sref="booking"></uib-tab>
    </uib-tabset>-->
</div>