.conform-hold{
  background-color: wheat;
  border-radius: 50px;
}
.conformation{
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}

p{
  color: #4cae4c;
}